# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.local
.env.production

# Node / frontend
node_modules/
frontend/dist/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/

# Optional (only ignore if not needed)
data.json